BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: true
BinPackParameters: OnePerLine
BreakAfterReturnType: ExceptShortType
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: Yes
ColumnLimit: 0
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
EnumTrailingComma: Insert
IndentAccessModifiers: false
IndentCaseLabels: false
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 10
PointerAlignment: Left
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpacesBeforeTrailingComments: 2
TabWidth: 4
UseTab: Never
